
.ptimer{
    font-size: 20px ;
    color: #272727; 
    font-weight: 600;

}

.out{
    display: flex;
    justify-content: center;
    padding-top: 0px;
}
.test{
    display: flex;
    flex-direction: column;
    width:33%;
   
}

@media (max-width:1100px) and (min-width:350px) {
    #cycles{
        display:none;
        visibility: hidden;
        width:0% !important;
    }
    .test{
      width:50%;
    }
} 

.tbtn {

    background-color: #272727;
    color: white;
    font-weight:bold;
    height: 40px;
    border-radius:20px;
}
.tbtn:hover {
    background-color: black;
    border: 2px solid black;
    cursor: pointer;
}
.timer-div{
padding: 0;
height:55.8px;
margin: 0;
font-size:30px;
margin-bottom: 18px;
background-color:#272727;
text-align:center;
}
.out.row.text-center{
   margin-top:20px;
}