.bhagwa {
    background-color: #272727 !important;
    height: 100px;
}

.bhagwa-light {
    background-color: rgb(248, 128, 107) !important;
}

.nav-link {
    font-family: sans-serif !important;
    color: #eeeeee !important;
    font-size: 18px;
}

.collapse-nav {
    background-color: #272727;
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto
}

.logo {
    font-size: 30px;
    font-family:cursive ;
}